@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1 class="display-4">歡迎來到會議室管理系統</h1>
    <img src="images\MEETROOM.jpg" width="70%" height="auto"/>

</div>
