@page
@model PrivacyModel
@{
    ViewData["Title"] = "使用規則";
}
<h1>@ViewData["Title"]</h1>
<br />
<h3>一、借用會議室需遵守下列各項規定。</h3><br />
<!--
    1、	禁止攜帶具危險性、汙染性等物品進入演講室。
    2、	不得在演講室內抽煙、飲食等，並隨時保持清潔。
    3、	非經同意請勿在演講室內之門窗及牆面（含黑板）上張貼海報等文宣品。
    4、	演講室之設備非經許可不得搬動、調整，如有損壞，該借用單位需負賠償之責任。
    5、	冷氣機及視聽設備非經許可不得擅自使用。
    6、	若由借用單位自行管制之演講室，使用後物品請歸定位，並清理乾淨關妥門窗、燈火等始得離去。
    7、	凡不遵守上述規定者，該單位爾後不得再借用。
-->

<ol class="list-group list-group-numbered">
    <li class="list-group-item">
        禁止攜帶具危險性、汙染性等物品進入演講室。
    </li>
    <li class="list-group-item">
        不得在演講室內抽煙、飲食等，並隨時保持清潔。
    </li>
    <li class="list-group-item">
        非經同意請勿在演講室內之門窗及牆面（含黑板）上張貼海報等文宣品。
    </li>    
    <li class="list-group-item">
        演講室之設備非經許可不得搬動、調整，如有損壞，該借用單位需負賠償之責任。
    </li>
    <li class="list-group-item">
        冷氣機及視聽設備非經許可不得擅自使用。
    </li>    
    <li class="list-group-item">
        若由借用單位自行管制之演講室，使用後物品請歸定位，並清理乾淨關妥門窗、燈火等始得離去。
    </li>
    <li class="list-group-item">
        凡不遵守上述規定者，該單位爾後不得再借用。
    </li>
    <br />
</ol>

<h3>二、如特殊情況需收回使用時，可收回各演講廳之使用權，唯需事先通知借用單位， 借用單位不得異議。</h3>
